[2016-02-04 10:07] npetrovski opened #1 "Please, fix the .npmignore in order to exclude the ".ts" for NPM"
It is currently commented in the ".npmignore" file, and the node packager installs all .ts files which confuses "tsc"

[2016-02-04 11:34] #1 closed

[2016-02-06 16:51] Lazarencjusz opened #2 "Error includeing Cookie"
I did like instruction says and have following error:
Error: XHR error (404 Not Found) loading http://localhost/ng2-cookies/ng2-cookies

[2016-02-07 01:22] Bigous commented on #2
Try to use it in a project where Angular 2 is correctly working, like [mgechev/angular2-seed](http://github.com/mgechev/angular2-seed).
This library only works under Angular2.

[2016-02-10 15:14] #2 closed

[2016-02-12 15:03] michaelburris opened #4 "Uncaught Syntax: Unexpected token <"
Hello. I'm getting the following error when I use your project in the standard angular 2 quick start demo.  I'm using the dependency in npm. My package.json file has ```"ng2-cookies": "^0.1.4"``` referenced.

```Uncaught SyntaxError: Unexpected token <```

I've tried importing the module in the index.html

```<script src="node_modules/ng2-cookies/ng2-cookies.js"></script>```

In the actual service

[2016-02-12 16:18] carcamano commented on #4
@michaelburris I recomend you to use a good and working base project to develop your application.

Try to use https://github.com/mgechev/angular2-seed
- git clone https://github.com/mgechev/angular2-seed
- cd angular2-seed
- npm install
- npm install ng2-cookies --save
- npm start

This should solve!

[2016-02-15 10:37] #4 closed

[2016-03-04 21:23] abedurftig commented on #2
Hi Bigous, I have my own project where Angular2 is correctly working. It's based on the Angular2 Quickstart code. I get the same issue as  Lazarencjusz. Cannot find a solution anywhere in the web. Do you have any other hints? Thanks.

[2016-03-05 01:11] carcamano commented on #2
@abedurftig IDK Angular2 Quickstart deeply but looking angular.io it seems a Javascript project.

ng2-cookies is a Typescript lib and you have to run it in a Typescript project, try to use it with [mgechev/angular2-seed](http://github.com/mgechev/angular2-seed).

Good luck!

[2016-03-07 16:29] Drabc opened #5 "Cannot resolve 'file' or 'directoty'"
I'm working from this seed https://github.com/AngularClass/angular2-webpack-starter, and I keep getting these warnings. Is there something I'm missing?

I notice the npm install brings .d.ts files and does not include the .ts files. I'm new to webpack, so I'm not sure If I'm missing something.

It works perfectly if I install from github.
[code]

[2016-03-15 08:14] deepakgd opened #6 "Unable to store boolean value in cookie"
If i tried to set cookie value as below

`Cookie.setCookie('isAuthenticated', true);`

I am getting this error:
`error TS2345: Argument of type 'boolean' is not assignable to parameter of type 'string'.`

How to fix this issue?

[2016-03-17 12:24] carcamano commented on #6
@deepakgd

It's correct. Cookie is a string separeted by semicolon. So if you wanna store a true value, you should store as string.

[code]

[2016-03-17 12:24] #6 closed

[2016-03-18 03:14] deepakgd commented on #6
Ya now I m storing like this only. Thank you
On Mar 17, 2016 5:54 PM, "Felipe Rebelo Lopes" notifications@github.com
wrote:

[2016-03-18 19:33] Bigous commented on #5
This is because of [this line](https://github.com/BCJTI/ng2-cookies/blob/master/.npmignore#L9).
Webpack should not warn you, because you have the .js file and the .d.ts file. It works as expected. I'ts just webpack warning that is annoying.
@carcamano if you want, you can just remove or put an ! or a # at the beginning of the line, or just close the issue because it's not a problem.
I don't have a

[2016-03-18 19:53] sasidhar commented on #5
As mentioned by @Bigous similar issue is discussed for https://github.com/Bigous/ng2-highcharts  here : https://github.com/Bigous/ng2-highcharts/issues/12

[2016-03-21 11:15] #5 closed

[2016-03-21 11:21] carcamano commented on #5
Thank you @sasidhar

NPM package updated and published!

[2016-03-21 14:29] Drabc commented on #5
Thanks guys!

[2016-04-15 12:15] samvloeberghs opened #8 "how is this related with angular 2?"
Hi,

how is this related with angular2? It's just a Cookie wrapper implementation..
(just a question)

grtz

[2016-04-16 17:43] lholznagel opened #9 "[Improvement] Remove Cookie from methods"
Hey,
currently all Methods contain the word `Cookie` in it.
Example: `.deleteCookie`, `.setCookie`, ...

I think it would be better when you only call `.delete`, `.set`, `.get`
Reason: When you use `Cookie.setCookie`, the second Cookie is not really necessary and I would be shorter.

[2016-04-18 19:17] Bigous commented on #8
That's it, a Cookie wrapper in typescript, respecting the new angular 2 specifications... So you can, in an easy way, npm install, import and use it just like all other angular2 libraries.

[2016-04-18 19:17] #8 closed

[2016-05-02 06:53] deepakgduber9 opened #10 "Feature request"
Please provide delete all cookie option

[2016-05-17 16:06] iloveyo123u1 opened #11 "please support rc1"

[2016-05-17 16:21] carcamano commented on #11
Hi @iloveyo123u1 !

I'm using it on Angular2-RC1. What's happening to you?

[2016-05-17 17:38] #9 closed

[2016-05-17 17:44] #10 closed

[2016-05-18 08:00] devansdev commented on #11
this._cookie
Cookie {}

this the Cookie object in rc1.
do we need to configure anything on system.config.js?

this is the error I can see;
 Property \'set\' does not exist on type \'Cookie\'.'

[2016-05-18 14:05] ghost commented on #11
thanks all very much
it's running

[2016-05-18 14:07] ghost commented on #11
please close the issues

:)

[2016-05-18 14:07] #11 closed

[2016-06-11 09:33] aga-glabala opened #15 "window.escape is deprecated"
Hi,
nice library :) there is only one issue - you use window.escape which is deprecated (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/escape). For example there is no way to save an array to cookie with your library :(

Greetings!

[2016-06-29 19:52] andyrue opened #16 "Set Cookie Options? (HttpOnly, Secure, etc)"
Is there a way to set various options like 'HttpOnly' and 'Secure' on a cookie with this library?

[2016-07-12 19:42] josx opened #17 "Unable to implement in ionic 2 project"
great work on ng2-cookies!
I want to use it, but i get an error

[code]

Same happen on this project:
https://github.com/urish/angular2-moment/issues/33

[2016-07-12 19:49] josx commented on #17
Just made https://github.com/BCJTI/ng2-cookies/pull/18 to fix it up.
(i got the ideas from angular2-moment https://github.com/urish/angular2-moment/commit/b6bcd9b4eb1a9cc6f82d808ed0bf9a426fb25d3c )

[2016-07-14 17:28] henrymyers commented on #16
I just submitted a pull request adding support for the 'secure' flag. https://github.com/BCJTI/ng2-cookies/pull/19

The 'HttpOnly' flag can't be set in Javascript.

[2016-07-16 15:00] carcamano commented on #17
PR Acepted and publish. Gracias @josx

[2016-07-16 15:00] #17 closed

[2016-07-16 15:00] carcamano commented on #16
PR accepted and published. Thanks @henrymyers

[2016-07-16 15:00] #16 closed

[2016-07-21 13:12] carcamano commented on #15
Resolved on build v1.0.0

[2016-07-21 13:12] #15 closed

[2016-08-10 14:39] sethdorris opened #21 "set does not use Secure"
the typings for set does not have the parameter of acceptance for Secure.

[2016-08-12 14:15] sethdorris commented on #21
which means the library as is... you can't set a secure cookie.

[2016-08-12 14:52] sethdorris commented on #21
It looks right here .. but installing from npm may be the cause?

[2016-08-12 15:09] sethdorris commented on #21
[code]

this is ng2-cookies/services/cookies.d.ts after running NPM install, you can see where I am talking about at static set

[2016-08-15 12:20] HerbertNatal commented on #21
hey seth I did the npm install over here, and it comes with the secure param, I have no idea why it is  happening with you..
cookie.d.ts and cookie.js has the param

[2016-08-15 14:04] sethdorris commented on #21
I'll see if I can replicate the issue in another repo. Thanks for checking it out @HerbertNatal

[2016-08-15 14:07] #21 closed

[2016-10-16 00:41] possatti opened #24 "Use a Date object on Cookie.set()"
Hey guys. This is only a suggestion.

I needed to use Cookies in my app so I looked for something on npm. At first a came to this repo, but in my app I need to set the Cookie expiration to a precise date and time (even seconds). And then I realized this package only allows for setting the expiration using a delta set in days. And this prevented me from using this repo.

Currently I have implemente

[2016-10-18 16:12] Bigous commented on #24
Good point.

We could just do the math to achieve the delta from the specific date.

[2016-10-18 19:12] fernandocode opened #25 "Get all attributes of object Cookie"
It is possible to get value `expires `or `create `from a cookie with this library?
- If yes. How should this be done?
- If not. Is possible add this functionality the this library?

This information of print for example:

**I noticed is only possible with the library to get the value of the `Content `attribute of the print.**

[2016-10-22 10:04] Tyxz commented on #25
To get the expiration date from a cookie as it is, it is not possible with JavaScript.
It should be possible to add an expiration date as a key value pair.
You could use this library to add two cookies. One for the value, the other with the expiration date.

[2016-10-22 11:05] Tyxz commented on #24
This should do the trick. Did not test it in a live version, but with simple browser debuging it works

[2016-10-24 11:21] #24 closed

[2016-10-24 11:56] #25 closed

[2016-11-03 03:17] elmiguel opened #27 "Does not work the latest Angular CLI build with web pack."
Importing the Cookie class and trying to do a check causes an Error:
import { Cookie } from 'ng2-cookies/ng2-cookies'

Cookie.check('cookName')

Error in web pack build:
Property 'check' does not exist on type 'typeof Cookie'

Set and Gets do not work as well, as there is nothing in the dev console or storage of the newly created (attempted) cookies.

Tried some tests:

      Cookie.check('searchT

[2016-11-04 12:16] Bigous commented on #27
Hi @elmiguel

Could you post the steps to reproduce this issue?

[]'s

[2016-11-07 17:35] elmiguel commented on #27
Sure,

First I installed via npm:

[code]

I imported the package to the main app (although doesn't seem to be injectable?):

[code]

But the I removed it and isolated it to a service.

Then in my service I try to check/set/edit my cookies:

[code]

It seems to be working now after I cleared node_modules and reinstalled via yarn. I think it was an issue when installing it the first time.

[2016-11-07 17:35] #27 closed

[2016-11-19 12:55] dakipro opened #28 "src/services/cookie.d.ts doesn't "support" secure parameter."
Hi,
could you perhaps update src/services/cookie.d.ts so that it supports Secure parameter? (not yet sure how to "properly" fix it myself, i would have asked for pull request myself)
Thanks for the script btw!

[2016-11-21 15:04] Bigous commented on #28
Hi @dakipro I didn't get it, the Cookie.set method already have the `secure` parameter.
You can see it [here](https://github.com/BCJTI/ng2-cookies/blob/master/src/cookie.ts#L56-L65)

[2016-11-21 17:50] dakipro commented on #28
yeah, sorry if I am confused a bit, still new to the angular/npm world.
I installed the extension with "npm install ng2-cookies" in default angular-cli installation, and when I tried to use it Visual Studio Code and while compiling I got the error that parameter is missing in ng2-cookies/src/services/cookie.**d**.ts (notice the cookie.**d**.ts)
I then added the last parameter to the line 27, so fr

[2016-12-06 13:17] kabsila opened #29 "Cookie not null"
When i set cookie with
Cookie.delete('cookname'); or Cookie.set('cookname', null);

cookie become to string 'null' not null value.

[2016-12-07 19:43] tauil opened #30 "Cookie.deleteAll() not working"
Hi,

I'm having a issue with `Cookie.deleteAll();`. It's not cleaning my cookie. Anyont with the same issue?

My component:

[code]

[2016-12-13 21:30] pkuninti commented on #28
Which version has this fix? I'm pulling the version 1.0.3 and I don't see the fix there. But I do see that it is fixed in master branch.

[2016-12-13 21:33] dakipro commented on #28
the "fix" is not tested yet, I just implemented it locally and it sort of works but I am not sure about how to properly test it so I didn't made a pull request yet

[2016-12-14 11:51] Till86 commented on #30
My delete seems not to work on IE11 somehow

[2016-12-14 20:30] Bigous commented on #28
Hi @carcamano , I think we missed the publication of version in which secure parameter is implemented... could you fix it?
As I'm using it installing from github itself, I didn't notice the problem.

[2016-12-15 12:41] Till86 commented on #30
seems like it's not only for IE but for Chrome, too. Sadly only seems totally random. Something happens that kind of locks the cookie and from then on, it can't be overwritten anymore. Only clearing the browsers cookies helps for me.

[2016-12-15 13:14] Bigous commented on #29
Ok, Delete should work, but when you set to null, it will be set to null.

A new version will be published today, see if it works for you, ok?

[]'s

[2016-12-15 14:11] tauil commented on #30
Yeah. I fixed this issue with this:

[code]

Also, I've put this inside an Observable<boolean> and return true after a setTimeout of 1000ms. This fixed my issue because I think that Cookie IO has a short delay.

[2016-12-15 17:16] Bigous commented on #28
v0.1.4 has the parameter.

[2016-12-15 17:16] #28 closed

[2016-12-15 17:22] Bigous commented on #30
That's what [Cookie.delete](https://github.com/BCJTI/ng2-cookies/blob/master/src/cookie.ts#L71-L72) does!

You can set the time to expire as a number too... [like -1 for 1 day ago](https://github.com/BCJTI/ng2-cookies/blob/master/src/cookie.ts#L102).
[code]
[]'s

[2016-12-15 17:41] tauil commented on #30
Yes! I tried Using Cookie.delete but somehow it didn't work. I'll try again.

[2016-12-15 19:30] tauil commented on #30
Just tested now. And it doesn't work in Chrome `Version 54.0.2840.98 (64-bit)` in MacOS.

I guess the `-1` argument is the problem.

According to my tests:

Don't work:
[code]

This works:
[code]

`date['toGMTString']() === Wed, 14 Dec 2016 19:25:20 GMT`

[2016-12-15 19:39] tauil commented on #30
The weird thing is that the code really should work, but somehow, it's not.

[2016-12-15 20:16] tauil commented on #30
The behaviour is: `Cookie.deleteAll()` doesn't deletes the keys but somehow it freezes it in a way that I can't delete anymore, only through inspector/cookies. I thought the path and domain were related, but it seems that it's not.

[2016-12-16 16:45] Bigous commented on #30
Hi @tauil Tks for your effort to make this library better!

I'm not able to reproduce the problem here (windows 10 with chrome 55).

I've started a new project with `angular-cli`:
[code]
And edited the `app.component.html` to be like this:
[code]

And the `app.component.ts` to be like that:
[code]
And when I open the browser at http://localhost:4200, I can see all the cookies, add new cookies dele

[2016-12-16 22:55] tauil commented on #30
Ok! I'll take a look at this test soon!

[2017-01-13 03:45] pouladpld opened #31 "No need for any configurations to make library work"
I added the lib to a fresh Angular project generated using `angular-cli`. There was no need to change any configuration files as mentioned in `README.MD` file.

Issuing this command in the project root is enough to add the library:
`
npm install ng2-cookies --save
`

[2017-01-13 18:57] camilosampedro opened #32 "Add a license file"
I really liked your project and I was trying to use it through a [WebJar](http://www.webjars.org/npm) inside a Scala application. The page automatically create a `jar` ready to be used based on the `npm` package.

The problem with `ng2-cookies` is that when the WebJar is being deployed, it requires the package to have a [supported license](https://bintray.com/docs/api/#_footnote_1) (MIT is support

[2017-01-16 17:27] Bigous commented on #32
Ok, it's in README.MD, but you sure got a point.

[2017-01-16 17:30] Bigous commented on #31
All right, to this to work properly we should change the build to generate a [umd bundle](https://github.com/umdjs/umd).
We are very busy lately, but I'll find some time to do this.

[2017-01-16 17:30] Bigous commented on #30
Ok, closing due to the lack of activity.

[2017-01-16 17:30] #30 closed

[2017-01-16 17:31] Bigous commented on #29
Closing due to the lack of activity.

[2017-01-16 17:31] #29 closed

[2017-01-16 17:35] #32 closed

[2017-01-16 20:47] tauil commented on #30
Sorry @Bigous . I have no time recently to test it again. I plan to do it soon and then I post you back. Thanks for the help anyway!

[2017-01-17 11:55] Bigous commented on #30
No problem @tauil , That's all right. Just closed to stay with issues that we need to do an action. If this problem return, I'll reopen the issue!

[2017-02-01 15:36] nebiljabari commented on #2
If it can help I resolved the issue changing the target indicated in the Read Me and if it's relevant I also use the Angular 2 Quickstart

In `systemjs.config.js` :
`map: {'ng2-cookies': 'npm:ng2-cookies'}` instead  `map: {'ng2-cookies': 'vendor/ng2-cookies'}`

[2017-02-07 08:59] thatsmeamal commented on #30
@Bigous, I am having the same issue with Cookie.deleteAll() method.
It seems to be working fine now and then.
But, the cookies are not cleared when the method is called, after refreshing the page.
Do you have any idea why this happen ?

[2017-02-07 11:16] Bigous commented on #30
Hi @thatsmeamal , could you try with the minimal example that I put in [this issue](https://github.com/BCJTI/ng2-cookies/issues/30#issuecomment-267637658) ?

So we have a common base code for testing - and what browser/version are you using for test?

[2017-02-07 11:59] thatsmeamal commented on #30
It is working fine in the example mentioned @Bigous.
I think I may have loaded a different module:
**import { Cookie } from 'ng2-cookies/ng2-cookies';**
Could that have been the problem ?

[2017-02-07 19:47] Bigous commented on #30
I'm not sure, but angular 2 recommends the way it's in the example... can be... in fact ng2-cookies/ng2-cookies should not work, because the file generated is index.js not ng2-cookies.js ... :D

[2017-02-08 05:12] thatsmeamal commented on #30
Thanks @Bigous.
I will try with the import module you'd mentioned.

[2017-02-08 09:55] pogran opened #33 "Error Cookie.check('cookieName');"
This method not work . http://prntscr.com/e602nz

[2017-02-08 15:26] Bigous commented on #33
Hi @pogran Tks for your effort to make this library better!

I'm not able to reproduce the problem here (windows 10 with chrome 55).

I've started a new project with `angular-cli`:
[code]
And edited the `app.component.html` to be like this:
[code]

And the `app.component.ts` to be like that:
[code]
And when I open the browser at http://localhost:4200, I can add, delete and check cookies with no pr

[2017-02-10 10:21] Bigous commented on #33
All wright, I'm assuming that it's working for you. Any news, let us know.

[2017-02-10 10:21] #33 closed

[2017-02-16 17:35] naeramarth7 commented on #8
I totally agree with @samvloeberghs. As he stated, the name is confusing as it is **not in any way related to angular2** but rather to any bundled front end app - even without a framework.

Providing an observable implementing angular2's `NgZone` or `ChangeDetectorRef` would make it deserve the `ng2` prefix. **Just writing something in TypeScript does not make something exclusively usable for angu

[2017-02-16 17:37] samvloeberghs commented on #8
finally :)

[2017-02-20 20:21] Bigous commented on #8
The intent of this library is to be used only with angular2, but it sure can be used without it. ;)

[2017-02-20 21:39] naeramarth7 commented on #8
## "ng2" Prefix

Is that so? Please explain, what makes this exclusive to Angular2?

For example... Is there any reason for using this over [`js-cookie/js-cookie`](https://github.com/js-cookie/js-cookie) with [`@types/js-cookie`](https://www.npmjs.com/package/@types/js-cookie) - a widespread library including type definitions which actually works as described?

## Issues with npm package

When ins

[2017-02-21 20:39] Bigous commented on #8
Ok, big post, and I'm a busy person so, short answers.

Fist, thanks for helping me note that ReadMe was pointing to old way of doing things (his library was written when angular2 was beta-1) - it was a lack of update, but you could help people from all the issues you pointed sending a pull request instead of staying in the shadow pointing fingers.

About the "ng2 problem", you use the library you

[2017-02-24 14:37] Bigous commented on #31
Hi @pouladpld, as I think all the people are using the new version of angular-cli, I think we can close this issue.
Thankyou very much

[2017-02-24 14:37] #31 closed

[2017-02-26 19:20] sebastianhaas commented on #8
Don't think this is pointless, you are misleading people (possibly "busy persons" like you) that don't (have the time to) look under the hood of this project.

Oh and btw. what you are doing here is not working with Angular 2 AOT compiler. So I tend to go with @samvloeberghs and @naeramarth7, you should either try and rework this library towards a more Angular 2 specific solution (like [`angular2-

[2017-03-01 12:36] Bigous opened #34 "Work with AOT"
To work properly with AOT (without having to configure manually to have the library compiled together).

It was already mentioned first at #31 and lately at #8.

[2017-03-01 19:23] Bigous commented on #34
Using the minimum example in wiki with the latest `@angular/cli` and `ng build --prod --aot` worked without problems and without any change.
Thou we could use ngc instead of typescript directly to generate the `metadata.json` files, but I don't see any need for this for now - it will stay at the fix-34 branch to keep in track in case of future necessity.

[2017-03-01 19:23] #34 closed

[2017-03-01 19:57] Bigous commented on #8
I don't know why would I mislead someone if the library does what it was created to do.

I tried with the minimum example at wiki and `ng build --prod --aot` worked normally to me, if you are having any problem with AOT feel free to open an issue. But I've rewritten the build with `ngc` instead of `tsc` and it is under branch fix-34 (you can see the issue #34 for more details). It was not merged t

[2017-03-01 22:17] lincolnthree commented on #34
I might be having some trouble with this. Works locally but when I do a prod AOT build using the AngularClass https://github.com/AngularClass/angular2-webpack-starter project, cookies don't seem to get set.

I'm just using:

`Cookie.set('key','value', 30)` without the domain, path, etc

[2017-03-01 22:17] lincolnthree commented on #34
Anything I need to change to get this to work?

[2017-03-02 21:05] Bigous commented on #34
Hi @lincolnthree, I've just tried to do:
[code]
And them I edited the file `src/app.module.ts` adding this 2 lines just after the `imports`:
[code]
And then I tested it:
[code]
I opened the chrome pointing to http://localhost:8080/ and looked at the console... it worked as expected. Could you provide more information about your issue?

[]'s

[2017-03-05 19:29] matthiaslexer opened #35 "It seems that it doesn't save all cookies"
Hey Guys,

Could it be that your library only takes the last 'set-cookie' object from the header?
I've discovered the following problem: The response header from the login function of the site I'm calling has two set-cookie objects:

[code]

But If i'm calling `Cookie.getAll()`, i only get the second cookie. Can i do anything to fix it?

Kind Regards,
Matthias

[2017-03-06 15:51] robert-cahoon opened #36 "Delete cookie with empty value"
Is there a specific reason your class won't delete a cookie if it has no value? I have a use case to delete a cookie that has no value.

Cheers,
Rob C

[2017-03-06 16:33] robert-cahoon commented on #36
Just an FYI - I've found a simple work around. I just update the target cookie with a value before removing.

Cheers
Rob C.

[2017-03-06 19:18] lincolnthree commented on #34
It's possible this was user error, or it's also possible that domains are not being resolved by default in production (e.g. on localhost, it worked fine, but on `*.domain.com` it did not.) I ended up doing this manually, but I had some difficulty with the browser API that lead me to try hardcoding the domain a few different ways. One of them finally worked - the fully qualified domain, e.g. `www.d

[2017-03-07 13:46] Bigous commented on #35
Hi Matthias,
The browser has only one cookie object containing all the cookie values... `document.cookie`. See it [here](https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie).
`Cookie.getAll()` iterates over the values and parses it to an array.
Could you look at it at the console of your application to see if all the cookies are available?
If the values are at `document.cookie` and ar

[2017-03-07 14:12] Bigous commented on #36
There is a very good reason - it's a bug :D tks for reporting it. I'll work on it soon.

[2017-03-07 19:21] #36 closed

[2017-03-08 16:48] matthiaslexer commented on #35
Hi Bigous, you're right the cookie isn't there if i execute document.cookie. Does your library support to get a cookie from another site?

Thanks in advance,
Matthias

[2017-03-08 16:48] #35 closed

[2017-03-29 13:01] aroslov opened #42 "Project stopped building with versions 1.0.10, 1.0.9"
Stack trace:

[code]

Seems like the breaking change was introduced after ng2-cookies@1.0.8

[2017-04-03 12:48] Bigous commented on #42
I think #43 fix this one.

[2017-04-03 13:23] carcamano commented on #42
@aroslov please uptade your version and try again!

[2017-04-05 13:30] #42 closed

[2017-04-05 13:52] gtzinos opened #44 "Update Readme"
Please update your README. Change npm install ng2-cookies to npm install ng2-cookies --save in order to save this package in package.json.

[2017-04-05 13:55] #44 closed

[2017-04-05 18:00] Bigous commented on #44
Hi, readme is just informative and points to the wiki (which has the minimum running example using the --save).

Anyway, this is an npm related contribution, not related to ng2-cookies. Tks @gtzinos

[2017-04-15 18:34] seanmcoleman opened #45 "Cookie names are encoded"
Cookie names are encoded using `encodeURIComponent` making it impossible to set a valid cookie name with certain characters, specifically `#`. This is important when writing code to set cookie names matching unchangeable legacy systems and established system standards.

[2017-04-18 13:36] carcamano commented on #45
Hi @seanmcoleman,

I understand you problem here.. But I can't see a nice way to solve it. We decide to encode our Cookies allowing users to store almost anything on this resource.

Do you have any suggestion here?

Ty

[2017-04-18 14:19] Bigous commented on #45
One way to solve it could be exporting another object (a `UnmanagedCookieService` and `UnmanagedCookie`) that does the same, but does no transformation or treatment neither in cookie name nor cookie value...

This way users can choose when to have a safer cookie, or, in cases like @seanmcoleman's, where he doesn't have control over part of the system, he deals with the pure cookie name and value a

[2017-04-18 16:53] seanmcoleman commented on #45
@carcamano I think encoding the cookie value is still appropriate and a nice feature, but encoding the cookie name doesn't feel necessary. Some values would need to be encoded like `;` but not all invalid URI characters (only the cookie value needs that).

A big concern is backwards compatibility as removing encoding on cookie names will break the link with existing encoded cookies. I think @Bigou

[2017-04-26 13:46] carcamano commented on #45
Hi @seanmcoleman ,

I published a new version of ng2-cookies and now you can try to use UnmanagedCookie or UnmanagedCookieService.

Let me know if it's working as your request.

Ty

[2017-05-15 12:51] ayya1987 opened #47 "Option to disable URL encoding in cookie"
Please give me a suggestion how to stop url encoding in cooking when i used to store as key value pair.

for ex; i am setting key as 'somepath' and value as '/path/path2/path3' after when i am looking inside browser it is different from actual value it is like  %2Fpath%2F% something like this.

Please help me to resolve this.

[2017-05-16 17:17] Bigous commented on #47
Use the UnmanagedCookie (or UnmanagedCookieService) instead of Cookie (or CookieService). It was created to cases like this. It does no treatment on your cookies (neither on key nor on value) and you should care about doing things that can break browser behavior (like putting semi-colon on cookies).

You can use it just like you use the Cookie.

[2017-05-16 17:17] #47 closed

[2017-06-14 14:43] balfons commented on #30
`import { Cookie } from 'ng2-cookies/ng2-cookies'` is the reason Cookie.deleteAll() won't work.
Use `import { Cookie } from 'ng2-cookies'` instead.

[2017-06-17 14:01] ghost commented on #30
@balfons Thank you, Your answer solved my problem. should I also set the cookie by `import { Cookie } from 'ng2-cookies'`  because while setting the cookie ` import { Cookie } from 'ng2-cookies/ng2-cookies`' is working

[2017-06-19 12:30] balfons commented on #30
@PatilSuraj No problem! Yes, you should always use `import { Cookie } from 'ng2-cookies'`.

[2017-07-11 14:28] stephenlane opened #48 "not working in safari"
Hi there,

This does not seem to work in safari.

[2017-07-11 14:42] Tommolo opened #49 "Trying to use Cookie as token storage : problem with the refresh."
I'm wondering if you have a solution for my problem.

I'm using the library defining 2 cookies : one called access token and the other called refresh token.

I store inside the cookies tokens retrieved in a json after an http.post on an auth server.

I'm trying to implement the refreshing of the token but the async behave of the http calls is giving me some problem.

Here's the code:
getRefresh Fu

[2017-07-11 20:25] Bigous commented on #49
Hi,

I couldn't figure out what's your issue.

I understood that:
1. You are retrieving an access_token and storing it in the cookie with 30 seconds to expire.
2. You are retrieving the refresh_token and storing it in the cookie with expiration set to tomorrow.
3. When you getResource, you make a HTTP header with the access_token.

But where is your code to actually refresh the code if Cookie.get(

[2017-07-11 20:33] Bigous commented on #48
Can you post your environment configuration and more details on what doesn't work?

Did you check if cookies are not blocked in your safari configuration?

try to open your safari console (in the web tools development) and type on console:
[code]
To see if the cookie browser api is working as expected... it should show the same string appended by '; wow=it works'

[2017-07-12 06:49] stephenlane commented on #48
I ended up having to use document.cookie instead of the set function as it was not working on safari, both mac and ipad.

[2017-07-12 07:42] ghost commented on #49
I'm sorry , this is the complete code of getResource

[code]

BTW the issue is that i don't catch the Cookie in time to assign it to the cookie var,  because the http request resolves after the code

[2017-07-12 14:30] Bigous commented on #49
Ok, got it.

You should return an observable or a promise or callback from the `getRefresh` or use async/await pattern to set the Header after you get the refreshed token. The way it is as you posted, you are not waiting for the refresh's post to update the token.

Correct me if I'm wrong, if the cookie must stay alive only for 30 seconds, wouldn't it be better to use a state in a regular service

[2017-07-12 14:31] Bigous commented on #48
@carcamano can you get this? I can't test any code on mac or ipad - sorry.

[2017-07-12 15:10] carcamano commented on #48
@Bigous Sorry, I can't too :(

Anyway I tested it on Safari for Windows and it works fine.

[2017-07-12 15:11] stephenlane commented on #48
i had the issue with both chrome and safari on ipad. Had no issue with chrome on mac

[2017-07-13 07:38] ghost commented on #49
I'm just working as the boss asked me! i'm trying to use async/await but i have to deal with promises!

I've tried returning observables as getRefresh return but i'm not very skilled in angular2

[2017-07-31 14:06] Bigous commented on #49
Sorry about the delay.

So, I think your boss wanna you to learn a little bit more about javascript and/or angular ;).

Try to look at some tutorials [like this](https://angular-2-training-book.rangle.io/handout/observables/using_observables.html).

But I think that the best should use a service instead of the cookie. Services are simple class with the `@Injectable()` decorator. Nothing special. Y

[2017-07-31 14:06] #49 closed

[2017-07-31 14:07] Bigous commented on #48
Tested on safari on windows and linux and worked for me too. I'm closing it. If someone else is having problem, please post it here so we can trak with someon that uses macOS.

[2017-07-31 14:07] #48 closed

[2017-09-01 07:30] ashwinirajput opened #52 "I am trying to delete all cookies but it returning me same object"
Cookie.deleteAll() not working

[2017-09-04 12:47] Bigous commented on #52
Just for an insight - you are trying to use `Cookie.deleteAll()` to delete cookies created with `ng2-cookies` `Cookie` class or you are trying to do that to delete cookies created without the `ng2-cookies` library?

Could you try to use `UnmanagedCookie.deleteAll()` to see if it works for you?

[2017-09-05 04:47] ashwinirajput commented on #52
Hi,
I am importing ng2-cookies then store cokies but when i want to clear it.
It doesn't get cleared.

Regards
Ashwini

On Sep 4, 2017 6:17 PM, "Richard Natal" <notifications@github.com> wrote:

[2017-09-05 18:33] Bigous commented on #52
Could you try with `UnmanagedCookie.deleteAll()`?

[2017-09-06 12:27] mylifeandcode opened #53 "Can't Inject CookieService Mock into Component During Unit Test"
When attempting to provide a component with a mock for CookieService, it never gets injected correctly.

Example:

[code]

Result: _cookieSvc always injects as CookieService(), and not the actual mock. I suspect this is because the CookieService class lacks the @Injectable decorator.

[2017-09-08 17:03] Bigous commented on #53
Hi @mylifeandcode .

You are totally right. Even if it's not what is causing your problem, we should have make it `@Injectable()`. We want it to be dependent of minimum, so we didn't make it dependent of `@angular/core`. But we should.

I'll work on it soon... Or if you could contribute with a pull request we would be very happy. I see you and  @sod are very experienced with test suits. Could you

[2017-09-13 08:06] maronaquillo opened #55 "URI malformed error in getting all Cookies"
I'm getting this error when I use `Cookie.getAll()` but it works on`Cookie.get()`.
Sample Text: `Tōkyō-to`

[2017-09-24 03:01] mylifeandcode commented on #53
Apologies for the delay in replying. I use Karma as my test runner and Jasmine as my testing framework. As for the pull request, I'd love to, but am working to meet some tight year-end deadlines. If I have some spare cycles I'll do it, but can't make any promises (sorry).

[2017-09-25 20:50] joefatora opened #56 "documentation doesn't cover api"
Please update the examples to include the date, path and domain options. I will happily do this but can't readily figure out how to edit the wiki directly. Thanks!

[2017-09-27 18:17] shawnstrickland commented on #21
I didn't have this option when I imported with `ng2-cookies/ng2-cookies`, but when I changed the import to just `ng2-cookies` I had the `secure `options available to me.

[2017-09-27 19:45] Bigous commented on #53
@mylifeandcode , No problem,

I made a pull request #54 to update the build system to `ngc` instead of `tsc` and to make the services `@Injectable`.

If @carcamano accept it, this issue will be closed automaticaly. Yet, I didn't set a test framework, so, the review / pull request for that would be very nice.

[2017-09-27 19:53] Bigous commented on #56
Wow @joefatora That would be very nice.

Could you try to do [this](https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github) and push a pull to the wiki?

[]'s

[2017-09-27 21:52] sod commented on #53
Your library is fine. No need to bloat it with dependencies. Classes without a constructor don't need `@Injectable`. And even if, there are easier ways.

Whats wrong in the test of OP is, you define `providers` on component level, so you have to override on component level with [TestBed.overrideComponent](https://angular.io/guide/testing#the-overridecomponent-method).

Looks something like:

[code

[2017-09-27 23:50] joefatora commented on #56
Sure, thanks for the pointer 😄

[2017-10-11 18:05] mylifeandcode commented on #53
Thank you sod! That was the problem. Because I had the provider declared in the Component's **providers** metadata, I needed to use **TestBed.overrideComponent()** as you described. Thanks again!

[2017-10-11 18:05] #53 closed

[2017-10-17 04:27] resting opened #57 "cookieService.delete not working in a custom service"
Trying to do `this.cookieService.delete('authToken');` in a `login.service` but it doesn't delete.
`deleteAll()` doesn't work either.

But injecting `cookieService` in component works.
Any idea?

[2017-10-23 03:13] resting commented on #57
I did more tests and found that actually it doesn't delete the cookie in a subscribe method.
Any idea why?

[code]

It doesn't delete either when I do a redirect with `router.navigate`.

[2017-10-23 04:14] resting commented on #57
I found the issue.
I didn't set the path when setting or deleting the cookie.
After setting the path to `/`, it is deleting fine now.

[2017-10-23 04:14] #57 closed

[2017-11-10 17:06] aakashchan commented on #30
Does Cookie.deleteAll() work in older firefox versions?

[2017-11-28 17:16] Bigous commented on #30
Hi @chan24

Depends. How old?

[2017-12-05 06:26] oztek22 opened #58 "size of single cookie is around 1.5KB only."
![image](https://user-images.githubusercontent.com/14314089/33592893-eb7fb00a-d9b2-11e7-8cef-eef46582c34b.png)

I'm trying to store 3 encoded strings of different size. Ideally cookie it should store cookies of size upto 4KB but it is not going above 1.5KB and I'm not seeing any error either.

app.component.ts:109 => size of string
app.component.ts:112 => this.cookieService.getAll() is logged.

[2017-12-05 18:22] Bigous commented on #58
Hi @oztek22 ,

How are you trying to store the cookie? (Cookie, CookieService, UnmanagedCookie UnmanagedCookieService ?)

Can you post the snippet here or at plnkr or jsfiddle?

[2017-12-17 11:48] ratikanta-sdrc opened #59 "set method expires is not working"
I gave the expiration some minutes from now and it did not get expired.

[2017-12-27 06:25] johns24 commented on #52
I am facing the same issue. I tried with `UnmanagedCookie.deleteAll()`
still the same.
Someone, please help me here.

[2017-12-27 17:28] Bigous commented on #58
All right.

I'm assuming you are using Cookie or CookieService to work with cookies at your code.
If that's the case, we use encodeURIComponent and decodeURIComponent to encode / decode every cookie name and value, so we avoid some problems with special caracters when using cookies. (it doesn't like some caracters like semicolon).
When you enconde a string it usually get bigger than the original o

[2017-12-27 17:28] #58 closed

[2017-12-27 17:32] Bigous commented on #52
@johns24 Please post a snipet and the description of yout browser version, so, etc... And look at the cookies permissions and if you are trying to delete cookies from a different domain...

[2017-12-27 17:39] Bigous commented on #55
I'm sorry about the loooooooong delay.

This only can happen if you are trying to retrieve cookies with Cookie that were not stored with Cookie. If you are trying to do that, I suggest you to use UnmanagedCookie. It doesn't try to encode and decode names and values and it will probable work flawlessly to you.

[2017-12-27 17:39] #55 closed

[2017-12-27 17:40] Bigous commented on #59
could you post here the snippet that is failing?

[2017-12-29 19:01] awanczowski commented on #59
Hello @Bigous ,

I am also experiencing a similar issue. The expiration is always set to session. I am currently using Chrome build `63.0.3239.108 (Official Build) (64-bit) (cohort: 63_win_108)`

[code]
`Cookie.set('test_cookie', 'test', new Date().getTime() + 1000);`

<img width="907" alt="capture" src="https://user-images.githubusercontent.com/3316300/34445264-9a961520-eca0-11e7-98d2-14ebbc060f3

[2017-12-29 19:12] awanczowski commented on #59
The above issue actually can be resolved by wrapping the newly calculated offset in another new date call.

`new Date(new Date().getTime() + 1000)` this will set the experiation time correctly.

[2018-01-02 13:40] Bigous commented on #59
All right, Now I figured out what's happening tks to @awanczowski .

Ok, this library accepts both `Date object` and `Number` for expiration parameter.
When you pass a `Date object` it assumes that it's the date you want the cookie to expire. Bun when you pass a `Number`, it assumes that the **number is in days from now** you want the cookie to expire (sorry about that - it's only quoted at the JS

[2018-01-02 13:40] #59 closed

[2018-01-24 10:48] NikolaJankovic opened #60 "Duplicate Cookies"
I'm having an issue where certain routes of my application have multiple cookies by the same name. This only happens on certain routes, when you navigate away from them the duplicate cookie (with a different value in my case) disappears.

I've looked through the source code and set() just applies the cookie using `document.cookie` which I don't believe checks for duplicates, however when I attempt

[2018-01-31 16:52] NikolaJankovic commented on #60
The issue was caused by not specifying the path which caused identical cookies to be set on different routes. Passing a path argument of '/' - which I assumed was the default behaviour -  seems to have solved the issue.

[2018-01-31 17:33] #60 closed

[2018-02-13 21:11] Bigous commented on #60
Tks @NikolaJankovic !
The default depends on the browser...

[2018-05-17 15:44] esoyke commented on #48
I am also experiencing this, ended up falling back to localstorage if cookie fails.

  Safari 11.1, Mac OSX High Sierra 10.13.4
  ng2-cookies: ^1.0.12

[2018-05-17 18:14] Bigous commented on #48
@sephh My brother :D can you get this one?

[2018-06-25 14:15] bobby-091 commented on #30
I am using ng2-Cookie for storing token value and using this cookie in different angular components by importing it.  When clicking on logout button (logout method placed in navbar component) from anywhere (different states like home, account, managers components) in the application it's redirecting to the login page(login component) in Chrome and Firefox (working fine) browsers. But it's not work

[2018-06-25 15:01] bobby-091 opened #62 "Cookie.deleteAll() not working properly in IE browser."
I am using ng2-Cookie for storing token value and using this cookie in different angular components by importing it.  When clicking on logout button (logout method placed in navbar component) from anywhere (different states like home, account, managers components) in the application it's redirecting to the login page(login component) in Chrome and Firefox (working fine) browsers. But it's not work

[2018-06-26 03:45] phoude commented on #62
I am using another Cookie angular package but having issues in IE/Edge. Was considering this package until I saw this issue... Oh my!

[2018-06-26 19:28] Bigous commented on #30
Hi @bobby-091 , IE or EDGE? if IE, what version?

Cookies could be used for that. The problem is that IE is not a browser that follows the standards.

You are using the library correctly, the problem may be with your IE version. I know Wondows 10 Fall creator update has changed how cookies are stored, but I don't know if they changed the way they work.

Another source to look for is [this MSDN blo

[2018-06-26 19:56] #56 closed

[2018-06-26 20:04] Bigous commented on #62
Hi @bobby-091 , IE or EDGE? if IE, what version?

Cookies could be used for that. The problem is that IE is not a browser that follows the standards.

You are using the library correctly, the problem may be with your IE version. I know Wondows 10 Fall creator update has changed how cookies are stored, but I don't know if they changed the way they work.

Another source to look for is [this MSDN blo

[2018-06-26 20:15] phoude commented on #62
IE11 & Edge

From: Richard Natal <notifications@github.com>
Sent: Tuesday, June 26, 2018 4:04 PM
To: BCJTI/ng2-cookies <ng2-cookies@noreply.github.com>
Cc: Pascal Houde <Pascal.Houde@smith.co>; Comment <comment@noreply.github.com>
Subject: Re: [BCJTI/ng2-cookies] Cookie.deleteAll() not working properly in IE browser. (#62)

Hi @bobby-091<https://github.com/bobby-091> , IE or EDGE? if IE, what vers

[2018-06-27 11:12] bobby-091 commented on #62
Hi @Bigous,
I am using Edge and also tried in IE v10. But in both versions, It's not deleting browser cookies.
On every app URL, I had applied "authentication guard". Authentication guard will fire prior to every page request. And check whether the cookie available or not, If cookie available then it processes the request otherwise redirects to login page. This functionality is working fine in chr

[2018-07-12 01:41] Bigous commented on #62
Hi people, I really can't figure out whats happening.

I've tested on Edge and it's working for me with the example at wiki where you can create and destroy all the cookies...

I saw you are using Cookie global exported instance inside a service, you have CookieService (which is the same, but as you are using the service style...).

Can you try with that example so we can stick with just the libra

[2018-10-09 12:29] denissb opened #63 "Publish a new version to npm"
The current version on npm is outdated and causes some problems with the latest build systems (webpack 3+), can we publish a new version with the latest changes?

[2018-10-09 12:31] carcamano commented on #63
Hi Denis.

Can you send me a PR with required changes?

Thanks

[2018-10-09 20:02] denissb commented on #63
Sorry, my bad had incorrect version in `package-lock.json`. Closing.

[2018-10-12 15:07] denissb commented on #63
No, the porblem is still there when building with @angular/cli, I get:
`LicenseWebpackPlugin✖ ｢wdm｣: TypeError: licenseType.indexOf is not a function
    at LicenseTextReader.readLicense (/Users/id844903/proximus/web/magnolia-angular-usage-ng/node_modules/@angular-devkit/build-angular/node_modules/license-webpack-plugin/dist/LicenseTextReader.js:29:40)
    at PluginChunkReadHandler.processModule (

[2018-11-12 17:58] #62 closed

[2019-10-17 21:04] VarinderUppal opened #65 "Check if cookies are enabled or disabled in browser"
Can you add a function to check if browser support cookies?

[2020-12-17 16:13] tolabenjo-va opened #68 "Default cookie path not set in latest version 1.0.12"
The latest npm package `1.0.12` is missing the default cookie path from this commit.

https://github.com/BCJTI/ng2-cookies/commit/293601bb3c7edfc04da1bc5e8cb010439c0301f2